<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SAS_DEV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SAS_DEV</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ul *ngFor="let article of Articles">
      <li>{{article.nom}} - {{article.prix}}</li>
    </ul>
    <button ion-button (click)="showDetails()">Details</button>
  </div>
</ion-content>
